@page "/about"

<div class="about-grid">
    <div class="about-image">
        <img src="https://imgur.com/x6M9o10.jpg" />
    </div>
    <div class="about-text">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut sem nulla pharetra diam sit amet nisl. Rhoncus aenean vel elit scelerisque mauris pellentesque. Pellentesque elit eget gravida cum. Turpis egestas pretium aenean pharetra. Augue neque gravida in fermentum et sollicitudin ac orci. Sit amet dictum sit amet justo donec enim diam vulputate. Iaculis at erat pellentesque adipiscing commodo elit at imperdiet. Felis bibendum ut tristique et. Risus commodo viverra maecenas accumsan lacus vel facilisis. Cursus turpis massa tincidunt dui. In hac habitasse platea dictumst quisque. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Sit amet risus nullam eget felis eget. Elit sed vulputate mi sit amet mauris commodo quis. Et odio pellentesque diam volutpat commodo. Nunc id cursus metus aliquam eleifend mi in nulla posuere. Id diam maecenas ultricies mi eget mauris pharetra et ultrices. Elementum pulvinar etiam non quam. Scelerisque viverra mauris in aliquam sem fringilla.</p>
        <br />
        <p>Orci a scelerisque purus semper eget duis. Massa eget egestas purus viverra accumsan in nisl nisi scelerisque. Pretium quam vulputate dignissim suspendisse in. Amet tellus cras adipiscing enim eu turpis. Augue neque gravida in fermentum et sollicitudin ac orci phasellus. Risus in hendrerit gravida rutrum. Tincidunt ornare massa eget egestas purus viverra accumsan. Sit amet venenatis urna cursus eget nunc scelerisque. Egestas diam in arcu cursus euismod quis. Erat velit scelerisque in dictum. Sit amet dictum sit amet justo donec enim diam vulputate. Nec sagittis aliquam malesuada bibendum arcu vitae. Sapien nec sagittis aliquam malesuada bibendum. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam eget. At volutpat diam ut venenatis tellus. Malesuada fames ac turpis egestas maecenas pharetra. Hendrerit gravida rutrum quisque non tellus orci ac auctor. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae. Scelerisque viverra mauris in aliquam.</p>
    </div>
</div>

@code {

}
