@page "/contact"
@inject IMessageService MessageService


<div class="container contactFormCard">

    @if (saved)
    {
        <div class="my-5">
            <h3 class="text-success text-center">Message Successfully Sent.</h3>
            <h3 class="text-success text-center">Please Allow 24 hours to Respond.</h3>
        </div>
    }
    else
    {
        <h3>Contact</h3>
        <p> Please reach out with custom design requests or questions about your order.</p>
        <div class=" contactFormWrapper">
            <EditForm class="contact-form" Model="message" OnValidSubmit="SaveMessage"
                      style="display:grid; grid-template-columns: 1fr 1fr; gap: 40px;">
                <DataAnnotationsValidator />
                <div class="form-left">
                    <div class="mb-3">
                        <label for="firstName">First Name<span class="reqAst">*</span></label>
                        <InputText id="firstName" class="form-control" @bind-Value="message.FirstName" />
                    </div>
                    <div class="mb-3">
                        <label for="lastName">Last Name<span class="reqAst">*</span></label>
                        <InputText id="lastName" class="form-control" @bind-Value="message.LastName" />
                    </div>
                    <div class="mb-3">
                        <label for="email">Return Email<span class="reqAst">*</span></label>
                        <InputText id="email" type="email" class="form-control" @bind-Value="message.Email" />
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber">Phone Number</label>
                        <InputText id="phoneNumber" type="tel" class="form-control" @bind-Value="message.PhoneNumber" />
                    </div>
                </div>

                <div class="form-right">
                    <div class="mb-3">
                        <label for="subject">Subject<span class="reqAst">*</span></label>
                        <InputText id="subject" class="form-control" @bind-Value="message.Subject" />
                    </div>
                    <div class="mb-3">
                        <label for="message">Message<span class="reqAst">*</span></label>
                        <InputTextArea id="message" class="form-control" rows="8" @bind-Value="message.Body" />
                    </div>
                    <button type="submit" class="btn">Send</button>
                </div>
                <ValidationSummary />
            </EditForm>
        </div>

        <h5 class="text-danger my-2">@errorMessage</h5>
    }
</div>

@code {
    Message message = new();
    bool saved = false;
    string errorMessage = string.Empty;

    public async Task SaveMessage()
    {
        saved = await MessageService.SaveMessage(message);

        if (!saved)
        {
            errorMessage = "There was an Error Sending your message. \n Please try again later.";
        }
    }
}
