@page "/gallery"

<div class="gallery">
    <div class="header">
        <h3>Gallery</h3>
        <p>Here are some examples of previous designs</p>
    </div>

    @* https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp *@
    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="/images/small_test.png" style="width:100%">
            <img src="/images/td5.png" style="width:100%">
            <img src="/images/td1.png" style="width:100%">
            <img src="/images/td4.png" style="width:100%">
            <img src="/images/td1.png" style="width:100%">
            <img src="/images/td4.png" style="width:100%">
            <img src="/images/small_test.png" style="width:100%">
        </div>
        <div class="column">
            <img src="/images/td1.png" style="width:100%">
            <img src="/images/td4.png" style="width:100%">
            <img src="/images/td5.png" style="width:100%">
            <img src="/images/small_test.png" style="width:100%">
            <img src="/images/td4.png" style="width:100%">
            <img src="/images/td1.png" style="width:100%">
        </div>
        <div class="column">
            <img src="/images/small_test.png" style="width:100%">
            <img src="/images/td5.png" style="width:100%">
            <img src="/images/td1.png" style="width:100%">
            <img src="/images/td4.png" style="width:100%">
            <img src="/images/td1.png" style="width:100%">
            <img src="/images/td4.png" style="width:100%">
            <img src="/images/small_test.png" style="width:100%">
        </div>
        <div class="column">
            <img src="/images/td1.png" style="width:100%">
            <img src="/images/td4.png" style="width:100%">
            <img src="/images/td5.png" style="width:100%">
            <img src="/images/small_test.png" style="width:100%">
            <img src="/images/td4.png" style="width:100%">
            <img src="/images/td1.png" style="width:100%">
        </div>
    </div>
</div>

@code {

}
