@page "/"

<PageTitle>New</PageTitle>

<h1 style="font-weight: bold;">New</h1>

<p style="max-width: 40%;">Taciti condimentum quis curabitur tempus vitae purus, semper sagittis elementum consequat suscipit sem etiam, accumsan lobortis dolor varius justo. Placerat porttitor habitasse est tristique ultrices hac platea vehicula nostra proin.</p>

<div style="display: flex; justify-content: end;">
    <div class="mx-4">Size Filter</div>
    <div class="mx-4">Sort By</div>
</div>

<div class="product-grid">

    @* #1 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="images/small_test.png" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #2 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="images/td2.png" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #3 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="images/td4.png" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #4 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="images/td5.png" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #5 *@
    <div class="product-tile">
        <div>
            <a href="product">
                <div class="product-img-wrapper">
                    <img class="product-img" src="images/td1.png" />
                </div>
            </a>
        </div>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #6 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="images/td2.png" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>
</div>
