@page "/"

<PageTitle>New</PageTitle>

<h1 style="font-weight: bold;">New</h1>

<p style="max-width: 40%;">Taciti condimentum quis curabitur tempus vitae purus, semper sagittis elementum consequat suscipit sem etiam, accumsan lobortis dolor varius justo. Placerat porttitor habitasse est tristique ultrices hac platea vehicula nostra proin.</p>

<div style="display: flex; justify-content: end;">
    <div class="mx-4">Size Filter</div>
    <div class="mx-4">Sort By</div>
</div>

<div class="product-grid" >
    <div class="product-tile">
        <div class="product-img-wrapper">
            <a href="product">
                <div class="product-img"></div>    
            </a>
        </div>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>
    <div class="product-tile">
        <div class="product-img" >
        </div>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>
    <div class="product-tile">
        <div class="product-img">
        </div>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>
                                   
    <div class="product-tile">
        <div class="product-img">
        </div>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>
    <div class="product-tile">
        <div class="product-img">
        </div>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>
    <div class="product-tile">
        <div class="product-img" >
        </div>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>
</div>
