@page "/"

<PageTitle>New</PageTitle>

<h1 class="category-title">New</h1>

<div class="category-text">
<p>These are the newest designs added to my shop.</p>
<br />
</div>

<div class="filter-dropdowns">

    <div class="dropdown">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
            Size
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">XXS</a></li>
            <li><a class="dropdown-item" href="#">XS</a></li>
            <li><a class="dropdown-item" href="#">S</a></li>
            <li><a class="dropdown-item" href="#">M</a></li>
            <li><a class="dropdown-item" href="#">L</a></li>
            <li><a class="dropdown-item" href="#">XXL</a></li>          
        </ul>
    </div>

    <div class="dropdown">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
            Type
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Shirts</a></li>
            <li><a class="dropdown-item" href="#">Bags</a></li>
            <li><a class="dropdown-item" href="#">Sweaters</a></li>
            <li><a class="dropdown-item" href="#">Pants</a></li>
            <li><a class="dropdown-item" href="#">Shoes</a></li>
        </ul>
    </div>
 
    <div class="dropdown">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
            Sort By
        </button>
        <ul class="dropdown-menu">
            <li><h5 class="dropdown-header">Price</h5></li>
            <li><a class="dropdown-item" href="#">Low to High</a></li>
            <li><a class="dropdown-item" href="#">High to Low</a></li>
            <li><h5 class="dropdown-header">Size</h5></li>
            <li><a class="dropdown-item" href="#">Smallest to Largest</a></li>
            <li><a class="dropdown-item" href="#">Largest to Smallest</a></li>
        </ul>
    </div>
</div>


<div class="product-grid">

    @* #1 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="https://imgur.com/x6M9o10.jpg" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #2 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="images/td2.png" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #3 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="images/td4.png" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #4 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="images/td5.png" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #5 *@
    <div class="product-tile">
        <div>
            <a href="product">
                <div class="product-img-wrapper">
                    <img class="product-img" src="images/td1.png" />
                </div>
            </a>
        </div>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>

    @* #6 *@
    <div class="product-tile">
        <a href="product">
            <div class="product-img-wrapper">
                <img class="product-img" src="images/td2.png" />
            </div>
        </a>
        <div class="product-name p-2">
            Cool Shirt
        </div>
        <div class="product-price p-2">
            $20.00
        </div>
    </div>
</div>
