.filter-dropdowns {
    display: flex;
    justify-content: end;
}

.search-order-num {
    max-width: 400px;
}


.order-wrapper {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 20px 100px;
}

.img-wrapper {
    padding: 5px;
}

    .img-wrapper img {
        max-height: 200px;
        max-width: 200px;
    }


.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
}

.order-price {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-selection {
    margin-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .order-wrapper {
        margin: 20px 0;
    }

    .img-wrapper {
        float: left;
    }

    .img-wrapper img {
        max-height: 100px;
        max-width: 100px;
    }
}
