@page "/product"


<div class="imgs-detail-grid">
    <div class="images">
        <div class="product-img-wrapper">
            <img class="product-img" src="images/small_test.png" />
        </div>
        <div class="product-img-wrapper">
            <img class="product-img" src="images/td1.png" />
        </div>
        <div class="product-img-wrapper">
            <img class="product-img" src="images/td4.png" />
        </div>
    </div>
    <div class="details">
        <div class="title">
            <h1> Cool Tie-Dye Shirt</h1>
        </div>
        <div class="description">
            <p> Spiral, Blue/Yellow/Green on a Scooby Doo v-neck shirt</p>
        </div>
        <div class="price">$20.00</div>
        <br />
        <div class="product-size">Size: X-Small</div>
        <br />
        <br />
        <button class="btn add-btn">Add to Cart</button>

    </div>
</div>

