@page "/product"


<div class="imgs-detail-grid">
    <div class="images">
        <div class="product-img"></div>
        <div class="product-img"></div>
        <div class="product-img"></div>
    </div>
    <div class="details">
        <div class="title">
            <h1> Cool Tie-Dye Shirt</h1>
        </div>
        <div class="description">
            <p> Spiral, Blue/Yellow/Green on a Scooby Doo v-neck shirt</p>
        </div>
        <div class="price">$20.00</div>
        <div class="product-size">Size: X-Small</div>
        
            <button class="btn add-btn">Add to Cart</button>
        
    </div>
</div>
