.imgs-detail-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 40px;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.product-img-wrapper {
    max-height: 600px;
    height: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*border: 2px solid grey;*/ /* Temporary*/
    /*overflow: hidden;*/
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .2s;
}

.details {
}

.title h1 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0;
}

.description {
    color: gray;
    margin-top: 20px;
}

.original-price {
    text-decoration: line-through;
}

.price {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.5;
}

.product-size {
}

.add-btn {
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: black;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 255px;
}


@media (max-width: 840px) {
    .imgs-detail-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2px;
    }

    .product-img-wrapper {
        position: relative;
    }

    .product-img:hover /*, .product-img:active*/ {
        transform: scale(1.5);
        position: absolute;
        left: 10px;
        z-index: 100;
        /*margin-left: 30%;*/
    }
}

@media (max-width: 600px) {
}


/****** CAROUSEL ******/

section {
    background: #f4f4f4;
    padding: 50px 0;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
}

.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
}

    .carousel > input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }

        .carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -500%;
        }

        .carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -400%;
        }

        .carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -300%;
        }

        .carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -200%;
        }

        .carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: -100%;
        }

        .carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
            margin-left: 0%;
        }

        .carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
        }

        .carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
        }

        .carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
        }

        .carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
        }

        .carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
        }

        .carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
            box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
        }

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
}

    .carousel__slide figure {
        display: flex;
        margin: 0;
    }

    .carousel__slide div {
        position: relative;
        width: 100%;
    }

        .carousel__slide div:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 66.6666666667%;
        }

        .carousel__slide div > img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }

    .carousel__slide img {
        display: block;
        flex: 1 1 auto;
        object-fit: cover;
    }

    .carousel__slide figcaption {
        align-self: flex-end;
        padding: 20px 20px 0 20px;
        flex: 0 0 auto;
        width: 25%;
        min-width: 150px;
    }

    .carousel__slide .credit {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
        display: block;
    }

    .carousel__slide.scrollable {
        overflow-y: scroll;
    }

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}

.carousel__slides + .carousel__thumbnails {
    margin-top: 20px;
}

.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
    display: block;
    position: relative;
}

    .carousel__thumbnails label:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
    }

    .carousel__thumbnails label > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
        cursor: pointer;
    }

        .carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
            transition: all 300ms ease-in-out;
        }

.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
