@page "/profile"

<div class="container">
    <h3>You are logged in as <i>Dew@guy.com</i></h3>

    <br />
    <div class="change-password-form">
        <h5>Change Password</h5>
        <form class="change-password-form">
            <div class="mb-3">
                <label for="password">New Password</label>
                <input id="password" class="form-control" type="password" />
            </div>
            <div class="mb-3">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" class="form-control" type="password" />
            </div>
            <button type="submit" class="btn btn-primary">Apply</button>
        </form>
    </div>
</div>

@code {

}
