.shipping-checkout-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding-top: 40px;
}

.shipping-header {
    border-bottom: 1px solid #e0e0e0;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

    .shipping-header h3 {
        font-weight: 600;
    }

    .shipping-header button {
        border-style: none;
        background-color: transparent;
        text-decoration: underline;
        font-size: 1.2rem;
    }



/*****Shipping Form*****/
form {
    margin-top: 40px;
}

    form label {
        margin-left: 20px;
    }

    form input, form select {
        border-radius: 255px;
    }

    form textarea {
        border-radius: 15px;
        min-height: 220px;
    }

    form button {
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 255px;
    }

.reqAst {
    color: red;
}

.shipping-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-name {
    display: flex;
    width: 100%;
}

.form-phoneNumber {
    /*grid-column: span 2;
    width: 50%;*/
}

.form-state {
    /*grid-column: span 2;*/
}


/******Confirmed Address******/
.confirmed-address {
    /*display: flex;*/
    padding: 30px;
}

    .confirmed-address .ship-to {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 10px;
    }

    .confirmed-address .address {
        padding: 10px;
    }

    .proceed-btn {
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 255px;
    }

/******Summary******/
.order-summary {
    box-shadow: 0 3px 15px rgba(0,0,0,.1);
    padding: 20px;
    height: 300px;
}

    .order-summary .shipping-value,
    .order-summary .taxes-value {
        color: lightslategray;
    }

    .order-summary table {
        width: 100%;
    }

        .order-summary table td {
            text-align: end;
        }


/*****Cart Info*****/
.cart-info {
    box-shadow: 0 3px 15px rgba(0,0,0,.1);
    padding: 20px;
    margin-top: 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
}

    .cart-header .edit-cart a {
        color: black;
    }

.cart-items {
    display: grid;
    gap: 10px;
}

.item {
    display: grid;
    grid-template-columns: 40% auto;
    height: 150px;
}

.item-img-wrapper {
    width: 100%;
    padding: 2px;
}

.item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.item-details {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .item-details .title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .item-details .description {
        font-size: .8rem;
        font-weight: 550;
        height: 5rem;
        overflow-y: scroll;
        /*color: slategray;*/
    }

    .item-details .size {
        color: #9e9e9e;
    }

    .item-details .price {
        text-align: end;
        font-weight: 600;
    }


.hide {
    display: none;
}

@media (max-width: 991px) {
    .shipping-checkout-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .shipping-form {
        display: grid;
        grid-template-columns: 1fr;
    }
}