

/***** Logged-Out ******/
.nav-link {
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}

form {
    margin-top: 20px;
}

    form label {
        margin-left: 20px;
    }

    form input {
        border-radius: 255px;
    }

    form button {
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 255px;
    }

        form button:hover {
            background-color: gray;
            color: white;
        }


/***** Logged-In *****/
.header h3 {
    color: gray;
}

.logged-in a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    transition: font-size .2s;
}

    .logged-in a:hover {
        font-size: 1.7rem;
    }

h5 {
    color: gray;
}