<AuthorizeView Roles="Admin">
    <h5>Admin</h5>
    <div data-bs-dismiss="offcanvas">
        <a href="/admin/orders/1">
            Orders
        </a>
    </div>
    <div data-bs-dismiss="offcanvas">
        <a href="/admin/products">
            Products
        </a>
    </div>
    <div data-bs-dismiss="offcanvas">
        <a href="/admin/product-types">
            Product Types
        </a>
    </div>
    <div data-bs-dismiss="offcanvas">
        <a href="/admin/rates">
            Sales Tax Rates
        </a>
    </div>
</AuthorizeView>

@code {

}
