.footer-buffer-bar {
    min-height: 20px;
    background-color: lightgray;
}

.lower-footer {
    min-height: 200px;
    background-color: gray;
    color: white;
    padding: 20px;
    background-image: url('images/BWpattern.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.link-section {
    display: flex;
    justify-content: center;
}

.link-section a {
    text-decoration: none;
    color: white;
}
