.footer-buffer-bar {
    min-height: 60px;
    background-color: lightgray;
    display: flex;
    margin-top: 40px;
}

.contact-msg {
    margin: auto;
    font-size: 1.2rem;
}

.contact-msg a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

    .contact-msg a:hover {
        text-decoration: underline;
    }

.lower-footer {
    min-height: 200px;
    background-color: gray;
    color: white;
    padding: 20px;
    background-image: url('images/BWpattern.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.link-section {
    display: flex;
    justify-content: center;
}

.link-section a {
    text-decoration: none;
    color: white;
}
