<footer>
    <div class="footer-buffer-bar">
        <div class="contact-msg">
            <a href="/contact">Contact</a> to request custom designs!
        </div>
    </div>
    <div class="lower-footer">
        <div style="text-align:center;">Follow on:</div>
        <div class="link-section">
            <div class="mx-3">
                <a href="https://instagram.com" target="_blank">
                    <span>Instagram </span><i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="mx-3">
                <a href="https://twitter.com" target="_blank">
                    <span>Twitter </span><i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="mx-3">
                <a href="https://www.etsy.com" target="_blank">
                    <span>Etsy </span><i class="fab fa-etsy"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
