@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4" style="height: 36px;">
            <a href="/contact" >Contact</a>
            <a href="https://docs.microsoft.com/aspnet/" >Gallery</a>
            <a href="" >About</a>
        </div>
        <NavMenu />

        <article class="content px-4">
            @Body
        </article>

       <Footer />
    </main>
</div>
