@inherits LayoutComponentBase


<div class="page">
    <main>
        <div class="top-row px-4" style="height: 36px;">
            <AuthorizeView>
                <span> Hello, <i>@context.User.Identity.Name</i></span>
            </AuthorizeView>
            <a href="https://www.instagram.com/z_creates_stuff?igsh=Yjdndno1djJ1eWJh" >Gallery</a>
            <a href="/contact" >Contact</a>
            @* <a href="/about" >About</a> *@
        </div>
        <NavMenu />

        <article class="content px-4">
            @Body
        </article>

       <Footer />
    </main>
</div>
