<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body menu">
        <hr />
        <div data-bs-dismiss="offcanvas">
            <a href="">
                New
            </a>
        </div>
        <div data-bs-dismiss="offcanvas">
            <a href="/women/1">
                Women
            </a>
        </div>
        <div data-bs-dismiss="offcanvas">
            <a href="/men/1">
                Men
            </a>
        </div>
        <div data-bs-dismiss="offcanvas">
            <a href="/kids/1">
                Kids
            </a>
        </div>
        <hr />
        <div>
            <a data-bs-toggle="offcanvas" href="#offcanvasRight" role="button" aria-controls="offcanvasRight">
                My Account
            </a>
        </div>
    </div>
</div>
