
<div class="main-header px-2">
    <div class="header-left">
        @* <a href="">Louise's Shop</a> *@
        <a href="">
            <img src="images/ShoppedeLoui.png" class="logo" alt="logo" />
            <img src="images/SL.png" class="small-logo" alt="small logo" />
        </a>
    </div>

    <div class="header-center">
        <a href="">New</a>
        |
        <a href="/women">Women</a>
        |
        <a href="/men">Men</a>
        |
        <a href="/kids">Kids</a>
    </div>

    <div class="header-right">
        <Search />

        @* Account *@

        @* BUG: Tooltip causes full size screen to have space on the right *@
        @* TODO: Change to using Bootstrap version *@
        @* <Tooltip Text="Sign-in"> *@
            <a class="person-icon" data-bs-toggle="offcanvas" href="#offcanvasRight" role="button" aria-controls="offcanvasRight">
                @* <i class="oi oi-person"></i> *@
                <i class="fas fa-user-circle"></i>
            </a>
        @* </Tooltip> *@

        @* Account Pop-out *@
        <AccountForms />

        @* Cart Button *@
        <div class="cart-btn">
            @* BUG: Tooltip causes full size screen to have space on the right *@
            @* TODO: Change to using Bootstrap version *@
            @* <Tooltip Text="View Cart"> *@
                <a href="/cart" class="cart-btn">
                    @* <i class="oi oi-cart"></i>  *@
                    <i class="fas fa-shopping-bag"></i>
                    <span class="badge rounded-pill bg-dark">3</span>
                </a>
            @* </Tooltip> *@
        </div>

        @* Menu Toggle *@
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu">
            <span><i class="oi oi-justify-right"></i></span>
        </button>

        <MenuPopout />

    </div>
</div>
<div class="disclaimer">
    <i>All items are original repurposed clothing designs and will be unavailable once sold.</i>
</div>


