.category-title {
    font-weight: bold;
}

.category-text {
    max-width: 40%;
}

    .category-text .original-item-disclaimer {
        color: lightslategray;
    }

.filter-dropdowns {
    display: flex;
    justify-content: end;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 10px;
}

.product-tile {
    max-height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

    .product-tile a {
        text-decoration: none;
        color: black;
    }

/* How do I get the images to shrink in height? */
.product-img-wrapper {
    max-height: 600px;
    height: 60vw;
    /*border: 2px solid grey;*/ /* Temporary*/

    overflow: hidden;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .2s;
}

    .product-tile:hover .product-img {
        transform: scale(1.1);
    }

.product-name {
    font-weight: 600;
}

.original-price {
    text-decoration: line-through;
    margin-left: 10px;
}

.product-price {
    font-weight: 600;
}

@media (max-width: 1092px) {
    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
}
