.search-bar-wrapper {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 20px;

}

.search-button {
    /*background-color: transparent;*/
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 20px 0 0 20px;
    height: 40px;
}

.search-input {
    /*background-color: transparent;*/
    background-color: #f0f0f0;
    border: 0;
    border-radius: 0 20px 20px 0;
    height: 40px;
    width: 100px;
    transition: width .5s;
}

    .search-input:focus {
        outline: none !important;
        width: 200px;
    }

.collapsed-search-btn {
    display: none;
}

@media (max-width: 1024px) {
    .search-bar-wrapper {
        /*display: none;*/
        margin-left: -150px;
    }

    .search-input:focus {
        width: 150px;
    }

    /*.collapsed-search-btn {
        display: block;
        border-style: none;
        background-color: white;
    }*/
}
