<form class="search-bar-wrapper">
    <button class="search-button">
        <span>
            <i class="fas fa-search"></i>
        </span>
    </button>
    <input class="search-input" placeholder="Search" />
    @* on focus: expand and show clear button *@
</form>

<button class="collapsed-search-btn">
    <span>
        <i class="fas fa-search"></i>
    </span>
</button>


@code {

}
