.container {
    background-color: #f0f0f0;
    padding: 50px 20px;
}

img {
    max-height: 200px;
    max-width: 200px;
}

btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}