@page "/admin/products"

<div class="container">



<h3>Products</h3>

<div>
    <a href="/admin/product" class="btn btn-primary ">
        <i class="oi oi-plus"></i> Add new product
    </a>
</div>

<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>

                @* ?? Visible ?? *@
                <th>Visible</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="images/td1.png" />
                </td>
                <td>Cool Tie-Dye Shirt</td>
                <td>$20.00</td>
                <td>✔️</td>
                <td>
                    <button class="btn btn-primary">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/td2.png" />
                </td>
                <td>Cool Tie-Dye Shirt</td>
                <td>$20.00</td>
                <td>✔️</td>
                <td>
                    <button class="btn btn-primary">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/td4.png" />
                </td>
                <td>Cool Tie-Dye Shirt</td>
                <td>$20.00</td>
                <td>✔️</td>
                <td>
                    <button class="btn btn-primary">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/td5.png" />
                </td>
                <td>Cool Tie-Dye Shirt</td>
                <td>$20.00</td>
                <td>✔️</td>
                <td>
                    <button class="btn btn-primary">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="images/small_test.png" />
                </td>
                <td>Cool Tie-Dye Shirt</td>
                <td>$20.00</td>
                <td>✔️</td>
                <td>
                    <button class="btn btn-primary">
                        <i class="oi oi-pencil"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>

@code {

}
