h3 {
    text-align: center;
    text-decoration: underline;
    margin: 30px auto;
}

.row {
    padding: 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.col {
    text-align: center;
}

.type-name {
    font-weight: 600;
}

.new-type-btn {
    text-align: center;
}

.delete-msg {
    text-align: center;
}
